/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  overscroll-behavior: none;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.header-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 76px;
  font-weight: 800;
}

.header-title-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding-top: 7px;
  img {
    width: 20px;
  }
  a {
    text-decoration: none;
  }
}

.header-container {
  padding-top: 0px;
  margin-bottom: 80px;
}

.small-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 800;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  padding-bottom: 80px;
}

.project-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  color: #757575;
}

.project-img {
  padding-top: 1px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-page-img {
  padding-top: 1px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;
}

.project-page-img-wide {
  padding-top: 1px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;
}

.project-page-video {
  margin-bottom: 5px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.project-page-video-wide {
  margin-bottom: 5px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.skills {
  padding-bottom: 2px;
}

.footer-container {
  background-color: black;
  margin-top: 100px;
}

.footer-invite {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 400;
  padding: 40px 0px 0px 0px;
  line-height: 33px;
  a {
    color: #8c8c8c;
    text-decoration: none;
  }
}

.footer-nav-anchor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    color: #8c8c8c;
    padding-bottom: 25px;
  }
}

.footer-nav-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    color: #8c8c8c;
    padding-bottom: 25px;
  }
}

.footer-copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  color: #3a3a3a;
  padding-bottom: 25px;
}

.burger-menu {
  width: 0;
  height: 0;
  p {
    display: none;
  }
}

.menu-open {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  position: absolute;
  top: 40px;
  right: 10%;
  padding: 10px 15px 10px 30px;
  transition: display(0.3) s;
}

.menu-trigger {
  display: inline-block;
}

.burger-bar {
  margin-top: 22px;
}

.inter-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  color: #919191;
  text-decoration: none;
  cursor: pointer;
}

.description-text {
  padding-bottom: 15px;
}

@media (min-width: 800px) {
  .project-img {
    padding-top: 1px;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .project-page-img-wide {
    padding-top: 1px;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .project-page-video {
    margin-bottom: 5px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140px;
    font-weight: 800;
  }
  .small-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
  }
  .project-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #757575;
  }
  .description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-bottom: 170px;
    font-size: 15px;
  }
  .header-container {
    padding-top: 10px;
    margin-bottom: 200px;
  }
  .header-title-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-top: 7px;
    img {
      width: 20px;
      padding: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .footer-container {
    background-color: black;
    margin-top: 150px;
  }
  .burger-bar {
    margin-top: 35px;
  }
  .inter-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #919191;
    text-decoration: none;
    cursor: pointer;
  }
}

.inter-link {
  transition: color 0.23s 0.2s ease-out;
}

.inter-link:hover {
  color: black;
}

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0px 35px 0px 35px;
  }
  .header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: 800;
  }
  .small-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
  }
  .project-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
  }
  .description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-bottom: 170px;
    font-size: 18px;
  }
  .project-img {
    padding-top: 1px;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 40px;
  }
}
/* ====================================
// base rules
// ==================================== */
